body {
    align-items: baseline;
    background: linear-gradient(to bottom right, #4a5d5c, #0b0f36);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
button {
    padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
            align-items: center;
            color:rgb(255, 255, 255);
            border-color: rgb(111, 111, 111);
            border-width: 5px;
            font-family:fantasy;
            font: weight 10px;
            border-radius: 6px;
            background-color: rgb(54, 54, 54);
            transition:0.2s, box-shadow 0.4s ;
}

button:hover {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
      transform: scale(1.05);
      border-color: rgb(33, 200, 198);
      background-color:rgb(17, 99, 104);
}