body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            min-height: 100vh;
            margin: 0;
            background-color:rgb(174, 181, 142);
       
        }
        a.button {
   display: -moz-inline-stack;
   display: inline-block;
   width: 391px;
   height: 62px;
   background: url("img/btncolor.png") no-repeat;
   line-height: 62px;
   vertical-align: text-middle;
   text-align: center;
   color:aquamarine;
   font-family: Zenhei;
   font-size: 39px;
   font-weight: normal;
   font-style: normal;
   text-shadow: #222222 1px 1px 0;
}
a.button a:hover{
     background: #383;
}

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            min-height: 100vh;
            margin: 0;
            background-color:rgb(174, 181, 142);
        }

        #stopAllButton {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
            align-items: center;
        }

        #audioButtonsContainer {
            margin-top: 50px;
            align-items: center;
        }

        button {
            box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
      transform: scale(1.05);
      background-color:rgb(185, 185, 185);
      border-color: rgb(122, 122, 122);
        }

         .container {
       text-align: center;
   }

   button {
       display: inline-block;
   }

   body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            min-height: 100vh;
            margin: 0;
            background-color:rgb(174, 181, 142);
        }

        button {
           box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
      transform: scale(1.05);
      background-color:rgb(185, 185, 185);
      border-color: rgb(122, 122, 122);box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            min-height: 100vh;
            margin: 0;
            background-color:rgb(174, 181, 142);
        }

        #stopAllButton {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
            align-items: center;
        }

        #audioButtonsContainer {
            margin-top: 50px;
            align-items: center;
        }

         .container {
       text-align: center;
   }

   button {
       display: inline-block;
   }

   .sigmabutton {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
      transform: scale(1.05);
      background-color:rgb(185, 185, 185);
      border-color: rgb(122, 122, 122);
   }
